<section class="breadcrumb">
    <div class="container">
        <div class="breadcrumb">
            <h2>SHOP</h2>
            <ul class="breadcrumb">
                <li><a asp-controller="Home" asp-action="Index">HOME</a></li>
                <li>PRODUCT DETAILS</a></li>

            </ul>
        </div>
    </div>
</section>