<section class="_discount">

    <div class="container">
        <div class="_cards">

            <div class="card">
                <div class="card-image">
                    <img src="images/placeholders/369x310.svg" alt="">
                </div>

                <div class="card-body">

                    <div class="shopping-cart-icon">
                        <h5 class="card-title">Table Lamp - scelerisque tempore</h5>
                        <button>
                            <h4 class="card-oldprice">€30:00</h4>
                            <h4 class="card-price">€30:00</h4>
                            <i class="fa-regular fa-cart-plus"></i>
                        </button>

                    </div>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </div>
            <div class="dcard">
                <div class="dcard-content">
                    <h5>UP TO SELL</h5>
                    <h1>50% OFF</h1>
                    <h3>Get The Best Price</h3>
                    <div class="bText">Get the best daily offer et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren no sea taki</div>
                </div>

                <div class="card-body">
                    <button>Discover More</button>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </div>




            <div class="card">
                <div class="card-image">
                    <img src="images/placeholders/369x310.svg" alt="">
                </div>

                <div class="card-body">

                    <div class="shopping-cart-icon">
                        <h5 class="card-title">Table Lamp - scelerisque tempore</h5>
                        <button>
                            <h4 class="card-oldprice">€30:00</h4>
                            <h4 class="card-price">€30:00</h4>
                            <i class="fa-regular fa-cart-plus"></i>
                        </button>


                    </div>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </div>


        </div>
    </div>

</section>
