@{
    var googleMaps = googleMapsService.GetLatest();
}
<section class="map">
    <iframe src="@googleMaps.GoogleMapsLink" allowfullscreen="" loading="@googleMaps.LoadingPolicy" referrerpolicy="@googleMaps.ReferrerPolicy"></iframe>
</section>