@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400;500;600;700;900&family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400;500;600;700;900&family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400;500;600;700;900&family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400;500;600;700;900&family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400;500;600;700;900&family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400;500;600;700;900&family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400;500;600;700;900&family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400;500;600;700;900&family=Roboto:wght@300;400;500;700;900&display=swap");
.position-static {
  position: static;
}

.position-fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.gridcollection-item a:hover {
  color: #292929;
  text-decoration: none;
}

.btn-toggle {
  font-family: "Poppins", sans-serif;
  font-size: 1.8em;
  padding: 0 !important;
  background-color: transparent;
  border: none !important;
}
.btn-toggle:hover {
  color: #000000 !important;
  background-color: transparent !important;
  outline: none !important;
}

.btn-toggle-white {
  font-family: "Poppins", sans-serif;
  font-size: 1.8em;
  padding: 0 !important;
  background-color: transparent;
  border: none !important;
}
.btn-toggle-white:hover {
  color: #636363 !important;
  background-color: transparent !important;
  outline: none !important;
}

.btn-outline-white {
  font-family: "Poppins", sans-serif;
  padding: 10px 25px;
  border: 1px solid #636363;
  background-color: #ffffff;
  color: #636363;
  transition: all 0.25s ease-in-out;
}
.btn-outline-white:hover {
  border: 1px solid #292929;
  background-color: #292929;
  color: #ffffff;
  outline: none !important;
}

.btn-outline-dark {
  font-family: "Poppins", sans-serif;
  padding: 10px 25px;
  border: 0px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  transition: all 0.25s ease-in-out;
}
.btn-outline-dark:hover {
  border: 0px solid #292929;
  background-color: transparent;
  color: #ffffff;
  outline: none !important;
}

.btn-theme {
  font-family: "Poppins", sans-serif;
  padding: 10px 35px;
  border: 1px solid #FA3150;
  background-color: #FA3150;
  color: #ffffff;
  transition: all 0.25s ease-in-out;
}
.btn-theme:hover {
  border: 1px solid #292929;
  background-color: #292929;
  color: #ffffff;
  outline: none !important;
}

.btn-rounded {
  border-radius: 25px;
}

.btn-rounded-1 {
  border-radius: 10px;
}

.breadcrumb {
  display: block;
}
@media (min-width: 992px) {
  .breadcrumb {
    display: block;
    justify-content: center;
  }
}
.breadcrumb .container {
  display: none;
  background-color: #AEAEAE;
  justify-content: center;
  align-items: center;
  background-image: url(/images/placeholders/breadcrumb-bg.jpg);
  background-position: center center;
}
.breadcrumb .container h2 {
  margin-top: 40px;
  text-align: center;
  color: #292929;
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 3px;
}
@media (min-width: 992px) {
  .breadcrumb .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.breadcrumb ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
}
.breadcrumb ul.breadcrumb li {
  display: inline;
  font-size: 14px;
}
.breadcrumb ul.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: ". ";
}
.breadcrumb ul.breadcrumb li a {
  color: #000000;
  text-decoration: none;
  font-size: 14px;
}
.breadcrumb ul.breadcrumb li a:hover {
  color: #FA3150;
  text-decoration: underline;
  font-size: 14px;
}

.no-gutters {
  --bs-gutter-x: 0 !important;
}

.open-menu {
  width: 100vw !important;
  opacity: 0.95;
  transform: translateX(-100%);
  background-color: #000000;
}

.invalid {
  border: 1px solid #FA3150 !important;
}

html, body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #636363;
}

a {
  text-decoration: none;
  color: #FA3150;
}
a:hover {
  text-decoration: underline;
  color: #FA3150;
}

button {
  font-family: "Poppins", sans-serif;
  border: 1px solid #636363;
  background-color: transparent;
  color: #000000;
  transition: all 0.2s;
  padding: 10px 30px;
}
button:hover {
  background-color: #000000;
  color: #ffffff;
}

.btn-white {
  font-weight: 400;
}

.btn-arrow-white {
  border: 1px solid #292929;
  font-weight: 400;
  border-radius: 5px;
}
.btn-arrow-white:hover {
  background-color: #000000;
  color: #ffffff;
}

footer div {
  font-family: "Poppins", sans-serif;
  display: flex;
  background-color: #000000;
  justify-content: center;
  align-items: center;
  height: 66px;
  color: #AEAEAE;
}

header {
  padding: 15px 0;
}
@media (min-width: 992px) {
  header {
    padding: 30px 0;
  }
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "logo toggle";
}
@media (max-width: 767px) {
  header .container {
    padding-right: 10px;
  }
}
@media (min-width: 992px) {
  header .container {
    grid-template-columns: 4fr 4fr;
    grid-template-areas: "logo menulinks";
  }
}
@media (min-width: 1200px) {
  header .container {
    grid-template-columns: 4fr 4fr 1fr;
    grid-template-areas: "logo menulinks menuicons";
  }
}
header .logo {
  grid-area: logo;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
}
header .menu-links {
  grid-area: menulinks;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0vw;
  padding-top: 80px;
  transform: translateX(0%);
  transition: all 0.25s;
  font-size: 20px;
  overflow: hidden;
}
@media (min-width: 992px) {
  header .menu-links {
    position: static;
    width: 100%;
    font-size: 16px;
    padding: 0;
    background-color: transparent;
    color: #292929;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
@media (min-width: 1200px) {
  header .menu-links {
    margin-right: 20px;
  }
}
header .menu-links .link {
  color: #636363;
  display: block;
  margin: 10px 20px;
  padding: 10px;
  text-decoration: none;
}
@media (min-width: 992px) {
  header .menu-links .link {
    display: inline-block;
    margin: 0 20px;
    padding: 0px;
  }
}
header .menu-links .link:hover {
  color: #FA3150;
}
header .menu-icons {
  grid-area: menuicons;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background-color: #292929;
  color: #ffffff;
  opacity: 0.85;
  z-index: 1;
}
@media (min-width: 768px) {
  header .menu-icons {
    background-color: #000000;
    opacity: 0.85;
    height: 50px;
  }
}
@media (min-width: 992px) {
  header .menu-icons {
    position: static;
    padding: 0;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
header .menu-icons .link {
  color: #AEAEAE;
  margin-left: 15px;
}
header .menu-icons .link:hover {
  color: #292929;
}
header .toggle {
  grid-area: toggle;
  position: relative;
  display: block;
  text-align: right;
  z-index: 1;
}
@media (min-width: 992px) {
  header .toggle {
    display: none;
  }
}

.showcase {
  background-color: #F3F2F2;
  padding: 60px 0;
}
@media (min-width: 992px) {
  .showcase {
    padding: 0 0 60px 0;
  }
}
.showcase .container {
  display: block;
  text-align: center;
}
@media (min-width: 992px) {
  .showcase .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.showcase .content {
  font-family: "Poppins", sans-serif;
  color: #292929;
}
@media (min-width: 992px) {
  .showcase .content {
    flex: 3;
    text-align: left;
    padding-right: 20px;
    padding-top: 20px;
  }
}
@media (min-width: 1200px) {
  .showcase .content {
    flex: 2;
    padding-top: 0;
  }
}
.showcase .content .ingress {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 5px;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .showcase .content .ingress {
    font-size: 14px;
    letter-spacing: 2px;
  }
}
.showcase .content .title {
  font-size: 40px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  .showcase .content .title {
    font-size: 60px;
    line-height: 1.5;
  }
}
.showcase .content .btn-theme {
  background-color: #FA3150;
  border: none;
  color: #ffffff;
  letter-spacing: 5px;
  text-align: center;
}
.showcase .content .btn-theme:hover {
  background-color: #292929;
}
.showcase .content-image {
  /*    border: 1px solid black; */
  display: none;
}
@media (min-width: 992px) {
  .showcase .content-image {
    display: block;
    flex: 1;
  }
  .showcase .content-image .img {
    width: 100%;
    height: auto;
  }
}
@media (min-width: 1200px) {
  .showcase .content-image {
    display: block;
    flex: 2;
  }
}
.showcase img {
  width: 100%;
  height: auto;
}

._collection {
  background-color: #ffffff;
}
._collection .container {
  display: block;
}
@media (min-width: 992px) {
  ._collection .container {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
  }
}
._collection ._header {
  width: 100%;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
  font-size: 40px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: #292929;
}
@media (min-width: 992px) {
  ._collection ._header {
    font-size: 48px;
  }
}
._collection .categories {
  display: none;
  justify-content: center;
  list-style: none;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
}
@media (min-width: 992px) {
  ._collection .categories {
    display: flex;
  }
}
._collection .categories .category-item {
  margin-right: 5px;
}
._collection .categories .category-item + li::before {
  content: "/";
  margin-right: 5px;
}
._collection ._cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}
@media (min-width: 992px) {
  ._collection ._cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    justify-content: space-between;
    width: 100%;
  }
}
._collection ._cards a:hover {
  color: #292929;
  text-decoration: none;
}
._collection .card {
  border: none;
  font-family: "Poppins", sans-serif;
  position: relative;
  margin: 0 0 20px;
}
@media (min-width: 992px) {
  ._collection .card {
    display: flex;
  }
}
._collection .card:hover .shopping-cart-icon {
  display: inline;
}
._collection .card .card-image {
  display: inline-block;
  padding: 5px;
}
@media (min-width: 768px) {
  ._collection .card .card-image {
    padding: 5px;
  }
}
@media (min-width: 992px) {
  ._collection .card .card-image {
    padding: 0;
  }
}
._collection .card .card-image img {
  width: 100%;
  height: auto;
}
._collection .card .shopping-cart-icon {
  display: none;
  position: absolute;
  font-size: 24px;
  bottom: 15px;
  right: 15px;
}
@media (min-width: 768px) {
  ._collection .card .shopping-cart-icon {
    display: none;
  }
}
._collection .card .card-title {
  margin: -10px 0 0 -10px !important;
  font-size: 18px;
  color: #000000;
}
@media (max-width: 767px) {
  ._collection .card .card-title {
    font-size: 14px;
  }
}
._collection .card .card-price {
  margin: 5px 0 0 -10px !important;
  font-size: 14px;
  color: #292929;
}
._collection .loadmore {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

._discount {
  background-color: #FAEFEF;
  display: block;
}
._discount .container {
  display: block;
  padding-top: 20px;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  ._discount .container {
    padding-top: 0;
  }
}
@media (min-width: 992px) {
  ._discount .container {
    display: flex;
    justify-content: center;
  }
}
._discount a {
  color: #292929;
}
._discount :hover {
  text-decoration: none;
}
._discount ._cards {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
}
@media (min-width: 992px) {
  ._discount ._cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-content: space-between;
    height: 570px;
  }
}
._discount ._cards .sell-items {
  display: none;
}
@media (min-width: 992px) {
  ._discount ._cards .sell-items {
    display: grid;
    align-items: center;
    width: 100%;
  }
}
._discount .card {
  display: block;
  border: none;
  border-radius: 0;
  font-family: "Poppins", sans-serif;
  margin: 0 0 20px;
  background-color: #ffffff;
}
@media (max-width: 767px) {
  ._discount .card {
    margin: 15px 0 0 0;
  }
}
@media (min-width: 992px) {
  ._discount .card {
    display: grid;
    height: 550px;
  }
}
._discount .card h5 {
  font-size: 18px;
}
._discount .card h4 {
  margin-top: 30px;
  font-size: 14px;
}
._discount .card .card-title {
  text-align: center;
}
._discount .card .gridDisount-item {
  display: none;
  width: 100%;
  height: 75px;
  align-items: center;
}
._discount .card .discount-priceoptions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
}
._discount .card h5 {
  display: block;
}
._discount .card .card-body {
  display: block;
}
._discount .card .prices {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80px;
  width: 100%;
  margin: 0 !important;
  margin-top: 0;
}
._discount .card h4 {
  display: flex;
  margin-top: 0;
}
._discount .card .card-price {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
._discount .card .card-oldprice {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  margin-top: 0 !important;
  text-decoration: line-through;
}
._discount .card-image {
  display: inline-block;
  padding: 5px;
}
@media (min-width: 768px) {
  ._discount .card-image {
    padding: 5px;
  }
}
@media (min-width: 992px) {
  ._discount .card-image {
    padding: 0;
  }
}
._discount .card-image img {
  width: 100%;
  height: auto;
}

.dcard {
  display: flex;
  grid-column: 1/1;
  border: none;
  font-family: "Poppins", sans-serif;
  justify-content: center;
  margin: 0 0 20px;
  background-color: #ffffff;
  width: 100%;
}
@media (max-width: 767px) {
  .dcard {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media (min-width: 768px) {
  .dcard {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media (min-width: 992px) {
  .dcard {
    display: flex;
    grid-row: 1/-1;
    margin-top: 100px;
    align-content: center;
    width: 100%;
    height: 100%;
  }
}
.dcard .uptosell-content {
  display: grid;
  justify-content: start;
  align-items: center;
}
.dcard .uptosell-content h5 {
  color: #FA3150;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}
.dcard .uptosell-content h1 {
  text-align: center;
  font-size: 48px;
  font-family: "Playfair Display", serif;
}
.dcard .uptosell-content h3 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 700;
}
.dcard .uptosell-content .bText {
  justify-content: center;
  text-align: center;
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
}
.dcard .uptosell-content .discountlink {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
}

._topSelling {
  display: block;
  justify-content: center;
}
._topSelling ._header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  font-size: 20px;
  font-weight: 600;
}
@media (min-width: 992px) {
  ._topSelling ._header {
    font-size: 30px;
  }
}
._topSelling .content {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  border: none;
  gap: 20px;
}
@media (min-width: 992px) {
  ._topSelling .content {
    max-width: 1390px;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-flow: column;
  }
}
._topSelling .content a:hover {
  color: #292929;
  text-decoration: none;
}
._topSelling .card {
  border: none;
  font-family: "Poppins", sans-serif;
  position: relative;
  margin: 0 0 20px;
}
@media (min-width: 992px) {
  ._topSelling .card {
    display: flex;
  }
}
._topSelling .card:hover .shopping-cart-icon {
  display: inline;
}
._topSelling .card-image {
  display: inline-block;
  padding: 5px;
}
@media (min-width: 768px) {
  ._topSelling .card-image {
    padding: 5px;
  }
}
@media (min-width: 992px) {
  ._topSelling .card-image {
    padding: 0;
  }
}
._topSelling .card-image img {
  width: 100%;
  height: auto;
}
._topSelling .shopping-cart-icon {
  display: none;
  position: absolute;
  font-size: 24px;
  bottom: 15px;
  right: 15px;
}
@media (min-width: 768px) {
  ._topSelling .shopping-cart-icon {
    display: none;
  }
}
._topSelling .card-title {
  margin: -10px 0 0 -10px !important;
  font-size: 13px;
  color: #000000;
}
@media (min-width: 768px) {
  ._topSelling .card-title {
    font-size: 14px;
  }
}
@media (min-width: 992px) {
  ._topSelling .card-title {
    font-size: 15px;
  }
}
._topSelling .card-body {
  border-bottom: 1px solid #FAFAFA;
}
._topSelling .card-body p {
  display: none;
}
@media (min-width: 992px) {
  ._topSelling .card-body p {
    margin: 10px 0 0 -10px !important;
    display: block;
  }
}
._topSelling .card-price {
  margin: 5px 0 0 -10px !important;
  font-size: 14px;
  color: #292929;
}
@media (max-width: 767px) {
  ._topSelling:hover .shopping-cart-icon {
    display: none;
  }
}
._topSelling .posts {
  display: none;
  margin: 10px 0 0 -10px !important;
  justify-content: flex-start;
}
@media (min-width: 992px) {
  ._topSelling .posts {
    display: flex;
  }
}
._topSelling .posts h4 {
  font-size: 12px;
  color: #AEAEAE;
  margin-right: 20px;
}
@media (min-width: 768px) {
  ._topSelling .posts h4 {
    font-size: 14px;
  }
}
._topSelling ._bDiscount {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: column;
  gap: 20px;
  justify-content: center;
}
._topSelling ._bDiscount a.gridcollection-item {
  color: #292929;
}
._topSelling ._bDiscount a.gridcollection-item:hover {
  color: #292929;
  text-decoration: none;
}
@media (max-width: 767px) {
  ._topSelling ._bDiscount .shopping-cart-icon {
    font-size: 10px;
  }
}
@media (min-width: 768px) {
  ._topSelling ._bDiscount .shopping-cart-icon {
    bottom: 10px;
    font-size: 20px;
  }
}
._topSelling .arrowslide {
  display: flex;
  justify-content: center;
}

.subscribe {
  display: block;
  background-color: #AEAEAE;
}
@media (min-width: 992px) {
  .subscribe {
    height: 470px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.subscribe .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  position: relative;
}
@media (min-width: 992px) {
  .subscribe .container {
    padding-left: -5000px;
    height: 212px;
    background-color: #ffffff;
  }
}
.subscribe .mail-text {
  display: none;
  position: absolute;
  left: 35px;
  bottom: 40px;
  width: 80%;
  height: 40px;
  border-radius: 40px;
  border: 1px solid #E1E1E1;
  padding: 5px;
  text-indent: 10px;
}
.subscribe .mail-text:focus {
  outline: none;
}
@media (min-width: 992px) {
  .subscribe .mail-text {
    display: block;
    font-size: 1rem;
    width: 70%;
    bottom: 70px;
    left: 130px;
    padding: 10px;
    height: 60px;
  }
}
.subscribe .mail-text-m {
  display: block;
  position: absolute;
  left: 35px;
  bottom: 40px;
  width: 80%;
  height: 40px;
  border-radius: 40px;
  border: 1px solid #E1E1E1;
  padding: 5px;
  text-indent: 10px;
}
.subscribe .mail-text-m:focus {
  outline: none;
}
@media (min-width: 992px) {
  .subscribe .mail-text-m {
    display: none;
    font-size: 1rem;
    width: 70%;
    bottom: 70px;
    left: 130px;
    padding: 10px;
    height: 60px;
  }
}
.subscribe .s_button {
  display: none;
  position: absolute;
  right: 15px;
  bottom: 40px;
  height: 40px;
  background-color: #FA3150;
  color: #ffffff;
  border-left: none;
  border-top: 1px solid #FA3150;
  border-right: 1px solid #FA3150;
  border-bottom: 1px solid #FA3150;
  font-size: 0.6rem;
  border-radius: 40px;
}
.subscribe .s_button:hover {
  background-color: #292929;
  border-top: 1px solid #292929;
  border-right: 1px solid #292929;
  border-bottom: 1px solid #292929;
  transition: all 0.5s;
}
@media (min-width: 992px) {
  .subscribe .s_button {
    display: block;
    right: 130px;
    bottom: 70px;
    font-size: 1rem;
    height: 60px;
  }
}
.subscribe .s_button-m {
  display: block;
  position: absolute;
  right: 30px;
  bottom: 40px;
  height: 40px;
  background-color: #FA3150;
  color: #ffffff;
  border-left: none;
  border-top: 1px solid #FA3150;
  border-right: 1px solid #FA3150;
  border-bottom: 1px solid #FA3150;
  font-size: 0.8rem;
  border-radius: 40px;
}
.subscribe .s_button-m:hover {
  background-color: #292929;
  border-top: 1px solid #292929;
  border-right: 1px solid #292929;
  border-bottom: 1px solid #292929;
  transition: all 0.5s;
}
@media (min-width: 992px) {
  .subscribe .s_button-m {
    display: none;
    right: 160px;
    bottom: 70px;
    font-size: 1rem;
    height: 60px;
  }
}

.product-detail-section {
  display: block;
  justify-content: center;
}
.product-detail-section .container {
  display: block;
  justify-content: center;
}
@media (min-width: 768px) {
  .product-detail-section .container {
    width: 100vw;
    display: block;
  }
}
@media (min-width: 992px) {
  .product-detail-section .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    width: 100%;
    padding: 0;
  }
}
.product-detail-section .grid-container {
  display: grid;
  justify-content: center;
}
@media (min-width: 768px) {
  .product-detail-section .grid-container {
    margin: 0 0 0 0;
    justify-content: center;
  }
}
@media (min-width: 992px) {
  .product-detail-section .grid-container {
    margin: 0 0 0 0;
    padding: 0;
    justify-content: space-between;
  }
}
.product-detail-section .product-detail-description .prod-desc-1 {
  display: block;
  width: 100%;
  justify-content: center;
}
@media (max-width: 767px) {
  .product-detail-section .product-detail-description .prod-desc-1 {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
.product-detail-section .product-detail-description .prod-desc-1 p {
  margin-bottom: 30px;
  border-bottom: 1px solid #FAFAFA;
}
.product-detail-section .product-detail-description h2 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  color: #292929;
}
@media (max-width: 767px) {
  .product-detail-section .product-detail-description h2 {
    margin-top: 20px;
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  .product-detail-section .product-detail-description h2 {
    margin-top: 20px;
    margin-left: 0 !important;
  }
}
.product-detail-section .product-detail-description h3 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  color: #292929;
  font-weight: 600;
  margin-top: 10px;
}
.product-detail-section .product-detail-description .text-theme {
  color: #F9c936;
}
.product-detail-section .product-detail-description .text-theme span {
  color: #636363;
}
.product-detail-section .product-detail-description .item-3 {
  display: inline-flex;
  justify-content: center;
  font-size: 0.84rem;
  font-family: "Poppins", sans-serif;
}
.product-detail-section .product-detail-description .item-3 .quantity-group {
  display: inline-flex;
  justify-content: center;
}
.product-detail-section .product-detail-description .item-3 .quantity-group .qbtn {
  border: 1px solid #AEAEAE;
  color: #292929;
}
.product-detail-section .product-detail-description .item-3 .quantity-group .qbtn:hover {
  color: #ffffff;
}
.product-detail-section .product-detail-description .item-3 .q-text {
  width: 50px;
  justify-content: center;
  text-align: center;
  border: none;
  border-top: 1px solid #AEAEAE;
  border-bottom: 1px solid #AEAEAE;
  background-color: #ffffff;
  color: #292929;
}
.product-detail-section .product-detail-description .item-3 .cart-red-buttons {
  color: #ffffff;
  border: 1px solid #FA3150;
}
.product-detail-section .product-detail-description .item-3 .cart-red-buttons:hover {
  border: 1px solid #292929;
}
.product-detail-section .product-detail-description .item-3 .cart-red-buttons .post-button {
  background-color: #FA3150;
  color: #ffffff;
  border: none;
}
.product-detail-section .product-detail-description .item-3 .cart-red-buttons .post-button:hover {
  background-color: #292929;
}
.product-detail-section .product-detail-description .item-4 .color {
  margin-top: 20px;
  display: flex;
  letter-spacing: 5px;
  list-style-type: none;
}
.product-detail-section .product-detail-description .item-4 .color div:nth-of-type(1) {
  color: #FA3150;
}
.product-detail-section .product-detail-description .item-4 .color div:nth-child(2) {
  color: #F9c936;
}
.product-detail-section .product-detail-description .item-4 .color div:nth-child(3) {
  color: #92BBB9;
}
.product-detail-section .product-detail-description .item-4 .color .sku {
  margin-left: 20px;
  letter-spacing: 0;
}
.product-detail-section .product-detail-description .item-4 .cart-wishlist {
  margin-top: 30px;
}
.product-detail-section .product-detail-description .item-4 .cart-wishlist .wish-button {
  border: 1px solid #AEAEAE;
}
.product-detail-section .product-detail-description .item-4 .category {
  margin-top: 20px;
}
.product-detail-section .prod-images-container {
  display: none;
}
@media (max-width: 767px) {
  .product-detail-section .prod-images-container {
    display: block;
    width: 100vw;
    overflow-x: hidden;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (min-width: 768px) {
  .product-detail-section .prod-images-container {
    display: block;
    width: 100vw;
    overflow-x: hidden;
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (min-width: 992px) {
  .product-detail-section .prod-images-container {
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 15px;
    padding-left: 0;
    padding-right: 0;
  }
}
.product-detail-section .prod-images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 15px;
  width: 100%;
}
@media (min-width: 768px) {
  .product-detail-section .prod-images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 15px;
    justify-content: space-between;
  }
}
@media (min-width: 992px) {
  .product-detail-section .prod-images {
    justify-content: space-between;
  }
}
.product-detail-section .prod-images .item-1 {
  grid-row: 1/1;
  grid-column: 1/-1;
}
.product-detail-section .prod-images .item-1 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.product-detail-section .prod-images .item-2, .product-detail-section .prod-images .item-3, .product-detail-section .prod-images .item-4, .product-detail-section .prod-images .item-5 {
  grid-row: 2/2;
}
.product-detail-section .prod-images .item-2 img, .product-detail-section .prod-images .item-3 img, .product-detail-section .prod-images .item-4 img, .product-detail-section .prod-images .item-5 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.product-detail-section .share {
  display: block;
}
.product-detail-section .share .social {
  display: flex;
}

/* Product Details Info Section */
.productDetail-Info {
  display: block;
  justify-content: center;
}
@media (min-width: 992px) {
  .productDetail-Info {
    display: flex;
  }
}
.productDetail-Info .container {
  display: block;
  max-width: 1;
  justify-content: center;
}
.productDetail-Info .container .tab-content h5 {
  margin-top: 20px;
}
@media (max-width: 767px) {
  .productDetail-Info .container .tab-content h5 {
    margin: 10px;
  }
}
@media (min-width: 992px) {
  .productDetail-Info .container {
    display: block;
    justify-content: space-between;
  }
}
.productDetail-Info nav {
  margin-top: 20px;
}
.productDetail-Info nav .nav {
  display: flex;
}
@media (min-width: 768px) {
  .productDetail-Info nav .nav {
    justify-content: space-between;
  }
}
@media (min-width: 992px) {
  .productDetail-Info nav .nav {
    justify-content: space-between;
  }
}
.productDetail-Info nav .nav-link {
  border-radius: 0;
  border-top: 1px solid #AEAEAE;
  border-bottom: 1px solid #AEAEAE;
  border-left: 1px solid #AEAEAE;
  text-align: center;
  color: black;
}
@media (min-width: 768px) {
  .productDetail-Info nav .nav-link {
    border-radius: 0;
    flex-grow: 1;
  }
}
@media (min-width: 992px) {
  .productDetail-Info nav .nav-link {
    border-radius: 0;
    flex-grow: 1;
  }
}
.productDetail-Info nav .nav-link:active, .productDetail-Info nav .nav-link:focus, .productDetail-Info nav .nav-link.active-tab, .productDetail-Info nav .nav-link.active {
  border-radius: 0 !important;
  background-color: #FA3150;
  color: #ffffff;
  outline: none;
}
.productDetail-Info nav .nav-link:hover {
  border-radius: 0 !important;
  background-color: #FA3150;
  color: #ffffff;
}
.productDetail-Info nav button:nth-child(2), .productDetail-Info nav button:nth-child(4) {
  display: none;
}
@media (min-width: 768px) {
  .productDetail-Info nav button:nth-child(2), .productDetail-Info nav button:nth-child(4) {
    display: block;
  }
  .productDetail-Info nav button:nth-child(3) {
    border-right: none;
  }
}
@media (min-width: 992px) {
  .productDetail-Info nav button:nth-child(2), .productDetail-Info nav button:nth-child(4) {
    display: block;
  }
  .productDetail-Info nav button:nth-child(3) {
    border-right: none;
  }
}
.productDetail-Info nav button:nth-child(3) {
  border-right: 1px solid #AEAEAE;
}
.productDetail-Info nav button:nth-child(4) {
  border-right: 1px solid #AEAEAE;
}
.productDetail-Info .product-content-info {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 992px) {
  .productDetail-Info .product-content-info {
    width: 100%;
    margin: 0 !important;
  }
}
.productDetail-Info .product-content-info .info p {
  margin-left: 0;
}
@media (max-width: 767px) {
  .productDetail-Info .product-content-info .info p {
    margin: 10px;
  }
}
.productDetail-Info .product-content-info .product-info-image {
  grid-column: 2/2;
  padding-left: 20px;
}
.productDetail-Info .product-content-info .product-info-image img {
  display: none;
}
@media (min-width: 992px) {
  .productDetail-Info .product-content-info .product-info-image img {
    display: block;
  }
}

/* end Product Details Info Section */
/* Related Products Section */
._relatedProducts {
  display: block;
  justify-content: center;
}
@media (min-width: 992px) {
  ._relatedProducts {
    display: flex;
    justify-content: center;
  }
}
._relatedProducts .container {
  display: block;
  justify-content: center;
}
@media (min-width: 992px) {
  ._relatedProducts .container {
    display: block;
  }
}
._relatedProducts .header {
  margin-top: 30px;
  display: flex;
  width: 100%;
  border-top: 1px solid #AEAEAE;
}
._relatedProducts .header h5 {
  margin-top: 30px;
  text-align: left;
}
._relatedProducts ._cards {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
._relatedProducts .card {
  border: none;
  font-family: "Poppins", sans-serif;
  position: relative;
  margin: 0 0 20px;
}
@media (min-width: 992px) {
  ._relatedProducts .card {
    display: flex;
  }
}
._relatedProducts .card:hover .shopping-cart-icon {
  display: inline;
}
._relatedProducts .card-image {
  display: inline-block;
  padding: 5px;
}
@media (min-width: 768px) {
  ._relatedProducts .card-image {
    padding: 5px;
  }
}
@media (min-width: 992px) {
  ._relatedProducts .card-image {
    padding: 0;
  }
}
._relatedProducts .card-image img {
  width: 100%;
  height: auto;
}
._relatedProducts .shopping-cart-icon {
  display: none;
  position: absolute;
  font-size: 24px;
  bottom: 15px;
  right: 15px;
}
@media (min-width: 768px) {
  ._relatedProducts .shopping-cart-icon {
    display: none;
  }
}
._relatedProducts .card-title {
  margin: -10px 0 0 -10px !important;
  font-size: 15px;
  color: #000000;
}
._relatedProducts .card-body p {
  display: none;
}
@media (min-width: 992px) {
  ._relatedProducts .card-body p {
    display: block;
  }
}
._relatedProducts .card-price {
  margin: 5px 0 0 -10px !important;
  font-size: 14px;
  color: #292929;
}
@media (max-width: 767px) {
  ._relatedProducts:hover .shopping-cart-icon {
    display: none;
  }
}

/* End Related Products Section */
.small_cards {
  display: block;
}
@media (min-width: 992px) {
  .small_cards {
    display: flex;
  }
}
.small_cards .container {
  display: flex;
  background-color: #FAFAFA;
}
@media (min-width: 992px) {
  .small_cards .container {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 285px;
  }
}
.small_cards .container .card {
  border: none;
  margin: 0;
  padding: 20px;
  background-color: #FAFAFA;
}
.small_cards .container .card img {
  width: 100%;
  height: auto;
  border: none;
  border-radius: 0;
}

.contact-form {
  padding: 20px 0 60px 0;
}
@media (min-width: 992px) {
  .contact-form {
    padding: 60px 0;
  }
}
.contact-form .container {
  border: 0px solid #FAFAFA;
  padding: 30px;
}
@media (min-width: 768px) {
  .contact-form .container {
    border: 1px solid #FAFAFA;
  }
}
.contact-form .title {
  margin-bottom: 40px;
}
.contact-form form {
  display: grid;
  column-gap: 30px;
  row-gap: 30px;
  grid-template-columns: 1fr;
  grid-template-areas: "name" "email" "phoneNumber" "companyName" "message" "terms" "button";
}
@media (min-width: 992px) {
  .contact-form form {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "name email" "phoneNumber companyName" "message message" "terms terms" "button button";
  }
}
.contact-form form .name {
  grid-area: name;
}
.contact-form form .email {
  grid-area: email;
}
.contact-form form .phoneNumber {
  grid-area: phoneNumber;
}
.contact-form form .companyName {
  grid-area: companyName;
}
.contact-form form .terms {
  grid-area: terms;
  margin: 10px 0;
}
.contact-form form .message {
  grid-area: message;
}
.contact-form form textarea {
  height: 100px;
  resize: none;
}
.contact-form form button {
  grid-area: button;
}
@media (min-width: 992px) {
  .contact-form form button {
    display: flex;
    justify-self: flex-start;
  }
}

textarea,
input,
input:not([type=checkbox]) {
  border: 1px solid #FAFAFA;
  background-color: #FAFAFA;
  display: block;
  position: relative;
  width: 100%;
  padding: 10px 15px;
  outline: 0;
}
textarea:focus,
input:focus,
input:not([type=checkbox]):focus {
  border: 1px solid #AEAEAE;
}

.invalid {
  border: 1px solid #FA3150 !important;
}

.custom-checkbox {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
}
.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  border: 1px solid #FAFAFA;
}
.custom-checkbox input:checked + .checkmark {
  height: 25px;
  width: 25px;
  background-color: #FAFAFA;
  border: 1px solid #AEAEAE;
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom-checkbox input:checked + .checkmark::after {
  content: "";
  height: 15px;
  width: 15px;
  background-color: #636363;
}
.custom-checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #FAFAFA;
  border: 1px solid #FAFAFA;
  z-index: -1;
}

.form-group {
  width: 100%;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
}
.form-group span {
  display: inline-block;
  color: #FA3150;
  height: 20px;
  margin-top: 2px;
  font-size: 0.8em;
}

.form-checkbox-group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.map iframe {
  width: 100%;
  height: 250px;
}
@media (min-width: 992px) {
  .map iframe {
    height: 400px;
  }
}
