@model GridCollectionViewModel
<section class="small_cards">

    <div class="container">

          @if (Model.GridItemsSmall != null)
            {
               

                @foreach (var item in Model.GridItemsSmall)
                {
                    <partial name="/Views/Partials/_GridCollectionSmallCardsItem.cshtml" model="item" />
                }



            }

       

    </div>
</section>