<section class="small_cards">

    <div class="container">

        <div class="card">
            <img src="images/placeholders/200x122.svg" class="card-img-top" alt="...">


        </div>
        <div class="card">
            <img src="images/placeholders/200x122.svg" class="card-img-top" alt="...">


        </div>
        <div class="card">
            <img src="images/placeholders/200x122.svg" class="card-img-top" alt="...">

        </div>
        <div class="card">
            <img src="images/placeholders/200x122.svg" class="card-img-top" alt="...">


        </div>


    </div>
</section>