@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400;500;600;700;900&family=Roboto:wght@300;400;500;700;900&display=swap");
._discount {
  background-color: #FAEFEF;
  display: block;
}
._discount .container {
  display: block;
  padding-top: 20px;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  ._discount .container {
    padding-top: 0;
  }
}
@media (min-width: 992px) {
  ._discount .container {
    display: flex;
    justify-content: center;
  }
}
._discount a {
  color: #292929;
}
._discount :hover {
  text-decoration: none;
}
._discount ._cards {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
}
@media (min-width: 992px) {
  ._discount ._cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-content: space-between;
    height: 570px;
  }
}
._discount ._cards .sell-items {
  display: none;
}
@media (min-width: 992px) {
  ._discount ._cards .sell-items {
    display: grid;
    align-items: center;
    width: 100%;
  }
}
._discount .card {
  display: block;
  border: none;
  border-radius: 0;
  font-family: "Poppins", sans-serif;
  margin: 0 0 20px;
  background-color: #ffffff;
}
@media (max-width: 767px) {
  ._discount .card {
    margin: 15px 0 0 0;
  }
}
@media (min-width: 992px) {
  ._discount .card {
    display: grid;
    height: 550px;
  }
}
._discount .card h5 {
  font-size: 18px;
}
._discount .card h4 {
  margin-top: 30px;
  font-size: 14px;
}
._discount .card .card-title {
  text-align: center;
}
._discount .card .gridDisount-item {
  display: none;
  width: 100%;
  height: 75px;
  align-items: center;
}
._discount .card .discount-priceoptions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
}
._discount .card h5 {
  display: block;
}
._discount .card .card-body {
  display: block;
}
._discount .card .prices {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80px;
  width: 100%;
  margin: 0 !important;
  margin-top: 0;
}
._discount .card h4 {
  display: flex;
  margin-top: 0;
}
._discount .card .card-price {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
._discount .card .card-oldprice {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  margin-top: 0 !important;
  text-decoration: line-through;
}
._discount .card-image {
  display: inline-block;
  padding: 5px;
}
@media (min-width: 768px) {
  ._discount .card-image {
    padding: 5px;
  }
}
@media (min-width: 992px) {
  ._discount .card-image {
    padding: 0;
  }
}
._discount .card-image img {
  width: 100%;
  height: auto;
}

.dcard {
  display: flex;
  grid-column: 1/1;
  border: none;
  font-family: "Poppins", sans-serif;
  justify-content: center;
  margin: 0 0 20px;
  background-color: #ffffff;
  width: 100%;
}
@media (max-width: 767px) {
  .dcard {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media (min-width: 768px) {
  .dcard {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media (min-width: 992px) {
  .dcard {
    display: flex;
    grid-row: 1/-1;
    margin-top: 100px;
    align-content: center;
    width: 100%;
    height: 100%;
  }
}
.dcard .uptosell-content {
  display: grid;
  justify-content: start;
  align-items: center;
}
.dcard .uptosell-content h5 {
  color: #FA3150;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}
.dcard .uptosell-content h1 {
  text-align: center;
  font-size: 48px;
  font-family: "Playfair Display", serif;
}
.dcard .uptosell-content h3 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 700;
}
.dcard .uptosell-content .bText {
  justify-content: center;
  text-align: center;
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
}
.dcard .uptosell-content .discountlink {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
}
