@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400;500;600;700;900&family=Roboto:wght@300;400;500;700;900&display=swap");
._topSelling {
  display: block;
  justify-content: center;
}
._topSelling ._header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  font-size: 20px;
  font-weight: 600;
}
@media (min-width: 992px) {
  ._topSelling ._header {
    font-size: 30px;
  }
}
._topSelling .content {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  border: none;
  gap: 20px;
}
@media (min-width: 992px) {
  ._topSelling .content {
    max-width: 1390px;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-flow: column;
  }
}
._topSelling .content a:hover {
  color: #292929;
  text-decoration: none;
}
._topSelling .card {
  border: none;
  font-family: "Poppins", sans-serif;
  position: relative;
  margin: 0 0 20px;
}
@media (min-width: 992px) {
  ._topSelling .card {
    display: flex;
  }
}
._topSelling .card:hover .shopping-cart-icon {
  display: inline;
}
._topSelling .card-image {
  display: inline-block;
  padding: 5px;
}
@media (min-width: 768px) {
  ._topSelling .card-image {
    padding: 5px;
  }
}
@media (min-width: 992px) {
  ._topSelling .card-image {
    padding: 0;
  }
}
._topSelling .card-image img {
  width: 100%;
  height: auto;
}
._topSelling .shopping-cart-icon {
  display: none;
  position: absolute;
  font-size: 24px;
  bottom: 15px;
  right: 15px;
}
@media (min-width: 768px) {
  ._topSelling .shopping-cart-icon {
    display: none;
  }
}
._topSelling .card-title {
  margin: -10px 0 0 -10px !important;
  font-size: 13px;
  color: #000000;
}
@media (min-width: 768px) {
  ._topSelling .card-title {
    font-size: 14px;
  }
}
@media (min-width: 992px) {
  ._topSelling .card-title {
    font-size: 15px;
  }
}
._topSelling .card-body {
  border-bottom: 1px solid #FAFAFA;
}
._topSelling .card-body p {
  display: none;
}
@media (min-width: 992px) {
  ._topSelling .card-body p {
    margin: 10px 0 0 -10px !important;
    display: block;
  }
}
._topSelling .card-price {
  margin: 5px 0 0 -10px !important;
  font-size: 14px;
  color: #292929;
}
@media (max-width: 767px) {
  ._topSelling:hover .shopping-cart-icon {
    display: none;
  }
}
._topSelling .posts {
  display: none;
  margin: 10px 0 0 -10px !important;
  justify-content: flex-start;
}
@media (min-width: 992px) {
  ._topSelling .posts {
    display: flex;
  }
}
._topSelling .posts h4 {
  font-size: 12px;
  color: #AEAEAE;
  margin-right: 20px;
}
@media (min-width: 768px) {
  ._topSelling .posts h4 {
    font-size: 14px;
  }
}
._topSelling ._bDiscount {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: column;
  gap: 20px;
  justify-content: center;
}
._topSelling ._bDiscount a.gridcollection-item {
  color: #292929;
}
._topSelling ._bDiscount a.gridcollection-item:hover {
  color: #292929;
  text-decoration: none;
}
@media (max-width: 767px) {
  ._topSelling ._bDiscount .shopping-cart-icon {
    font-size: 10px;
  }
}
@media (min-width: 768px) {
  ._topSelling ._bDiscount .shopping-cart-icon {
    bottom: 10px;
    font-size: 20px;
  }
}
._topSelling .arrowslide {
  display: flex;
  justify-content: center;
}
