<section class="subscribe">
    <div class="container">
        <form action="">
            <input class="mail-text" type="email" placeholder="Your mail here">
            <input class="mail-text-m" type="email" placeholder="subcribe mail here...">
            <button class="s_button" type="submit">SUBSCRIBE FOR NEWSLETTER</button>
            <button class="s_button-m" type="submit"><i class="fa-duotone fa-paper-plane"></i> SUBSCRIBE</button>

        </form>
    </div>
</section>