@using BMarketo.ViewModels
@model AdminIndexViewModel

@{
    ViewData["Title"] = "Backoffice";
    Layout = "~/Views/Admin/Shared/_AdminLayout.cshtml";
}


<div container class="header-info">
    <div></div>
    <div>    <h5> Welcome, @Model.DisplayName! What do you want to do today?</h5></div>
    <div>
      
    </div>
</div>



    <div class="info-container">
        <a class="button" href="@Url.Action("ProductList", "Products")">View/Edit Products</a>
    <a class="button" href="@Url.Action("UserList", "Admin")">View/Edit Users</a>
        <a class="button" href="@Url.Action("Subscribers", "Admin")">View/Edit Subscribers</a>
    </div>

 

